body {
    margin: 0;
}

canvas{
    background-image: url("../assets/underwater.jpg");
    background-size: 100%;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%; 
}

#game {
    margin: auto;
    display: block;
    width: innerwidth;
    height: innerheight;
    border-style: inset;
    border-width: 1px;
    background-image: url("../assets/underwater.jpg");
    background-size: 100%;
    font-size: 40px;
}
#home {
    margin: auto;
    display: block;
    width: innerwidth;
    height: innerheight;
    border-style: inset;
    border-width: 1px;
    background-image: url("../assets/learnprologo.png");
    background-position: center;
    background-size: 100%;
    font-size: 40px;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#home .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#home .screen.active {
    display: block;
}

#main-menu {
    padding-top: 1em;
    cursor: pointer;
    font-size: 0.75em;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

ul.menu li button {
    font-family: Arial, sans-serif;
    font-size: 0.6em;
    color: #CECEF6;
    width: 10em;
    height: 1.5em;
    background: #0404B4;
    border-radius: 0.5em;
    opacity: 0.55;
}

ul.menu li button:hover {
    background: #2E2EFE;
}

ul.menu li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#home div h1 {
    font-size: 1em;
    text-align: center;
}

h1 {
    opacity: .7;
    color: #2E2EFE;
}

#home h1 {
    opacity: .7;
    color: #FE2E2E; /*ed1c24 ?*/
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-shadow: 1px 1px #2E2EFE;
}

#game div p {
    font-size: 0.5em;
}

#home div p {
    font-size: 0.5em;
}

#about p {
    text-align: center;
    text-shadow: 1px 1px #2E2EFE;
}

#help p {
    text-align: center;
    text-shadow: 1px 1px #2E2EFE;
}

.solid {
    opacity: 1 !important;
}

.hidden{
    display: none !important;
}